# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store
.vs/
17nsj.DataAccess/bin/
17nsj.DataAccess/obj/
17nsj.DataAccess/App.Config
17nsj.Service/bin/
17nsj.Service/obj/
17nsj.Service/Web.config
17nsj.Service/Web.Debug.config
17nsj.Service/Web.Release.config
packages/
17nsj.Service/Properties/PublishProfiles
17nsj.jedi/obj/
17nsj.jedi/bin/
17nsj.jedi/appsettings.json
17nsj.jedi/appsettings.Development.json
17nsj.Repository/obj/
17nsj.Repository/bin/