.cal_wrapper {
    max-width: 800px; /* Å‘å• */
    min-width: 300px; /* Å¬• */
    margin: 2.0833% auto;
}

.googlecal {
    position: relative;
    padding-bottom: 100%; /* c‰¡”ä */
    height: 0;
    overflow: hidden;
}

.googlecal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media only screen and (min-width: 600px) {
    /* ‰æ–Ê•‚ª600pxˆÈã‚Ìê‡‚Ìc‰¡”ä‚ÌŽw’è */
    .googlecal {
        padding-bottom: 75%;
    }
}

.footer-image {
    height: 15px;
}

.box-header h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.narrow-dropdown {
    min-width: 100px;
}

.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 300px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
}

.main-header .navbar .nav > li.user > a > .fa {
    font-size: 18px;
}

.form-group .form-text{
    padding-top:7px;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.table .btn {
    padding: 1px 12px;
}

.products-list .btn {
    padding: 1px 12px;
}

div.iframeWrapper {
    position: relative;
    width: 100%;
    padding-top: 75%;
}

div.iframeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fc-today {
    background: #d1f5ff !important;
}

.fc-toolbar.fc-header-toolbar{
    padding:0;
    margin-bottom:0 !important;
}

.gcal-cpt {
    background-color: #7435e8 !important;
    border-color: #7435e8 !important;
}

.gcal-all {
    background-color: #003278 !important;
    border-color: #003278 !important;
}

.gcal-dpt {
    background-color: #005bff !important;
    border-color: #005bff !important;
}

.gcal-yc {
    background-color: #009688 !important;
    border-color: #009688 !important;
}

.gcal-corp {
    background-color: #ca0056 !important;
    border-color: #ca0056 !important;
}

.gcal-general {
    background-color: #057400 !important;
    border-color: #057400 !important;
}

.gcal-press {
    background-color: #F09300 !important;
    border-color: #F09300 !important;
}