body {
    overflow-y: hidden !important;
}

.cal_wrapper {
    max-width: 800px; /* Å‘å• */
    min-width: 300px; /* Å¬• */
    margin: 2.0833% auto;
}

.googlecal {
    position: relative;
    padding-bottom: 100%; /* c‰¡”ä */
    height: 0;
    overflow: hidden;
}

.googlecal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media only screen and (min-width: 600px) {
    /* ‰æ–Ê•‚ª600pxˆÈã‚Ìê‡‚Ìc‰¡”ä‚ÌŽw’è */
    .googlecal {
        padding-bottom: 75%;
    }
}

.content-wrapper {
    height: 100px;
    overflow: auto;
}

.footer-image {
    height: 25px;
}

.box-header h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.narrow-dropdown {
    min-width: 100px;
}

.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 300px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
}

.main-header .navbar .nav > li.user > a > .fa {
    font-size: 18px;
}

.form-group .control-text{
    padding-top:7px;
}