@page
@model _17nsj.Jedi.Pages.DocumentDeleteModel
@{
    ViewData["Title"] = "DocumentDelete";
}

<section class="content">
    <div>
        <div class="box box-primary">
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.HiddenFor(modelitem => Model.CurrentDoc.Id)
                @Html.HiddenFor(modelitem => Model.CurrentDoc.Title)
                @Html.HiddenFor(modelitem => Model.CurrentDoc.UpdatedAt)
                <div class="box-body">
                    <div class="form-horizontal col-md-6 col-md-offset-3">
                        <h3>本当に削除しますか？</h3>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">タイトル</label>
                            <div class="col-sm-9 form-text">
                                @Model.CurrentDoc.Title
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class=" col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-danger pull-right">削除</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>