@page
@model _17nsj.Jedi.Pages.HashTagModel
@{
    ViewData["Title"] = "HashTag";
}

<section class="content">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://twitter.com/search?f=tweets&vertical=default&q=%2317NSJ&src=typd" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#1DA1F2; color:white;"><i class="fa fa-twitter"></i></span>

                    <div class="info-box-content text-black">
                        大会全般
                        <span class="info-box-number">#17NSJ</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://twitter.com/search?f=tweets&q=%2317NSJ_Friendship&src=typd" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#1DA1F2; color:white;"><i class="fa fa-twitter"></i></span>

                    <div class="info-box-content text-black">
                        交流会募集
                        <span class="info-box-number">#17NSJ_Friendship</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://twitter.com/search?f=tweets&q=%2317NSJ_WaitingTime&src=typd" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#1DA1F2; color:white;"><i class="fa fa-twitter"></i></span>

                    <div class="info-box-content text-black">
                        プログラム待ち時間共有
                        <span class="info-box-number">#17NSJ_WaitingTime</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://twitter.com/search?f=tweets&q=%2317NSJ_PR&src=typd" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#1DA1F2; color:white;"><i class="fa fa-twitter"></i></span>

                    <div class="info-box-content text-black">
                        広報部への取材依頼
                        <span class="info-box-number">#17NSJ_PR</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://twitter.com/search?f=tweets&q=%23%E3%82%B9%E3%82%AB%E3%82%A6%E3%83%88%E9%80%9A%E4%BF%A1%E5%93%A1&src=typd" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#1DA1F2; color:white;"><i class="fa fa-twitter"></i></span>

                    <div class="info-box-content text-black">
                        スカウト通信員が発信中
                        <span class="info-box-number">#スカウト通信員</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>