@page
@model IndexModel
@{
    ViewData["Title"] = "ダッシュボード";
}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">全体予定</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="cal_wrapper">
                        <div class="googlecal">
                            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=i34oht2ulbhdutgtbmb8e4uckk%40group.calendar.google.com&amp;color=%23875509&amp;ctz=Asia%2FTokyo" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">各班予定</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="cal_wrapper">
                        <div class="googlecal">
                            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=60vfqr48ovk915mj5lokefvilo%40group.calendar.google.com&amp;color=%235229A3&amp;src=hfdc2dvh5cqrcmc1cicem9iejk%40group.calendar.google.com&amp;color=%238C500B&amp;src=gt355os9tbsh5ger4tqarcs0e4%40group.calendar.google.com&amp;color=%230F4B38&amp;src=25gemkk01vskrr70nfkljpv7jo%40group.calendar.google.com&amp;color=%23853104&amp;src=3jqufbgie42cfi5m4vta6s2h10%40group.calendar.google.com&amp;color=%238C500B&amp;src=250n8db09n3ngsk37ll4svfojg%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=Asia%2FTokyo" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">掲示板</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>宛先</th>
                                    <th>件名</th>
                                    <th>発信者</th>
                                    <th>発信日時(JST)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.お知らせリスト)
                                {
                                    <tr>
                                        <td>@item.Receiver</td>
                                        <td><a href="/NoticeBoardDetail?id=@item.Id">@item.Title</a></td>
                                        <td>@item.Sender</td>
                                        <td>@item.CreatedAt.AddHours(9).ToString("yyyy/MM/dd HH:mm")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>