@page
@model _17nsj.Jedi.Pages.MapModel
@{
    ViewData["Title"] = "マップ";
}

<section class="content">
    <div>
        <div class="box box-primary">
            <div class="box-body">
                <div class="iframeWrapper">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1ewUDH89xMIEzJ-9wB5_0t8bJDXBowjef&hl=ja" width="640" height="400"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>