@page
@model _17nsj.Jedi.Pages.OfficialMediaModel
@{
    ViewData["Title"] = "OfficialMedia";
}

<section class="content">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.scout.or.jp/17nsj/index.html" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#0071BC; color:white;"><i class="fa fa-globe"></i></span>

                    <div class="info-box-content text-black">
                        <span class="info-box-number">Official Site</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.facebook.com/scout.or.jp" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#3b5998; color:white;"><i class="fa fa-facebook"></i></span>

                    <div class="info-box-content text-black">
                        scout.or.jp
                        <span class="info-box-number">Facebook</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://twitter.com/ScoutingJapan" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#1DA1F2; color:white;"><i class="fa fa-twitter"></i></span>

                    <div class="info-box-content text-black">
                        @@ScoutingJapan
                        <span class="info-box-number">Twitter</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.youtube.com/user/ScoutingJapan" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#CD201F; color:white;"><i class="fa fa-youtube-play"></i></span>

                    <div class="info-box-content text-black">
                        ScoutingJapan
                        <span class="info-box-number">Youtube</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.instagram.com/scout_association_of_japan/" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000); color:white;"><i class="fa fa-instagram"></i></span>

                    <div class="info-box-content text-black">
                        scout_association_of_japan
                        <span class="info-box-number">Instagram</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.flickr.com/people/scout_associaton_of_japan/" target="_blank">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color:#FF0084; color:white;"><i class="fa fa-flickr"></i></span>

                    <div class="info-box-content text-black">
                        scout_associaton_of_japan
                        <span class="info-box-number">Flickr</span>
                    </div>
                </div>
            </a>
        </div>





    </div>
</section>