@page
@model _17nsj.Jedi.Pages.UserDeleteModel
@{
    ViewData["Title"] = "UserDelete";
}
<section class="content">
    <div>
        <div class="box box-primary">
            @using (Html.BeginForm(FormMethod.Post))
            {
            @Html.HiddenFor(modelitem => Model.TargetUser.UserId)
            <div class="box-body">
                <div class="form-horizontal col-md-6 col-md-offset-3">
                    <h3>この操作は元に戻せません。削除しますか？</h3>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">ユーザーID</label>
                        <div class="col-sm-9 form-text">
                            @Model.TargetUser.UserId
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">表示名</label>
                        <div class="col-sm-9 form-text">
                            @Model.TargetUser.DisplayName
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class=" col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-danger pull-right">削除</button>
                </div>
            </div>
            }
        </div>
    </div>
</section>

