@page
@model _17nsj.Jedi.Pages.WeatherModel
@{
    ViewData["Title"] = "Weather";
}

<section class="content">
    <div>
        <div class="box box-primary">
            <div class="box-body">
                <div class="iframeWrapper">
                    <iframe src="https://weather.yahoo.co.jp/weather/jp/17/5620/17205.html"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>