@page
@model _17nsj.Jedi.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
}

<section class="content">
    <div class="error-page">
        <h2 class="headline text-red" style="margin-top:0px;">403</h2>
        <div class="error-content" style="padding-top:1px;">
            <h3><i class="fa fa-times-circle text-red"></i> 許可されていない操作です。</h3>
            <p>
                この操作が適正なものだと思われる場合は管理者またはシステム管理者までお問い合わせください。
            </p>
        </div>
    </div>
</section>